<!DOCTYPE html>
<html>
<head>
    <title>Create Invoice</title>
</head>
<body>

<h1>Create Invoice</h1>

<form method = "Post">
    {% csrf_token %}

<label>Customer</label>

<select name="customer">

    <option value="">Select Customer</option>

    {% for customer in customers %}
        <option value="{{ customer.id }}">
            {{ customer.name }}
        </option>
    {% endfor %}

</select>

    <br><br>

    <label>Invoice Date</label>
    <input type="date">

    <br><br>

    <label>Order No</label>
    <input type="text">

    <br><br>

    <button type="submit">
        Create Invoice
    </button>

</form>

</body>
</html>